mixin banner()
  main.banner
    .wrapper.banner-wrapper
      .banner-content
        h1 The Design Thinking superpowers
        p.banner-text Tools, tutorials, design and innovation experts, all in one place! The most intuitive way to imagine your next user experience.
        +button('Get started', 'button', 'button--big banner-button')
      .banner-image-block
        img(src="./assets/banner.svg", alt="banner-image") 
