mixin header()
  header.header
  wrapper.header-wrapper
    +logo
    +navigation
    .header-buttons
      .header-buttons
        +button('Sign In', 'button', 'button--white')
        +button('Sign Up', 'submit')