.header {
  min-height: var(--h-header);
  align-items: center;
  display: flex;

  &-wrapper {
    justify-content: space-between;
    padding-bottom: 15px;
    align-items: center;
    padding-top: 15px;
    display: flex;
  }

  &-buttons {
    align-items: center;
    display: flex;
    gap: 30px;
  }
}
