.button {
  background-color: var(--c-primary);
  border: 1px solid var(--c-primary);
  transition: var(--t-normal);
  justify-content: center;
  color: var(--c-white);
  align-items: center;
  padding-right: 25px;
  border-radius: 4px;
  padding-left: 25px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  height: 45px;

  &:hover {
    background-color: var(--c-black);
    border-color: var(--c-black);
    color: var(--c-white);
  }

  &-white {
    background-color: var(--c-white);
    border-color: var(--c-blue);
    color: var(--c-black);
  }

  &-big {
    padding-right: 40px;
    padding-left: 40px;
  }
}


